<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<%- include('./partials/head'); %>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <form method="post" action="/add">
            <input type="text" name="name">
            <button type="submit">Add</button>
        </form>

        <% if (listName.length) { %>
            <% listName.forEach(({ name, id}) => { %>
                <a href="/user/<%= id %>"><%= name %></a>
            <% }) %>
        <% } %>
    </div>
</body>
</html>