<!doctype html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <h1><%= user.name %></h1>
    </div>
</body>
</html>